<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Meadowlark Travel</title>
</head>
<body>
	<header><img src="/img/meadowlark.jpg" alt="Meadowlark"></header>
	{{{body}}}
</body>
</html>